<h1>Welcome to VoteStakes!</h1>

<% @challenges.in_groups_of(3, false).each do |group| %>
  <div class='row'>
    <% group.each do |challenge| %>
      <div class='col-md-4'>
        <%= image_tag(challenge.meme_url, class: "img-responsive") %>
      </div>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Challenge your friends', new_challenge_path, class: 'btn btn-primary' %>
<% else %>
  <!-- TODO: figure out destination -->
  <%= link_to "Challenge your friends", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
<% end %>
