<%- model_class = Challenge -%>
<div class="page-header">
  <h1>My Challenges</h1>
</div>

<% @my_challenges.sort_by(&:created_at).reverse.each do |challenge| %>
  <div class='row'>
    <div class='col-md-7'>
      <%= link_to(image_tag(challenge.meme_url, class: "img-responsive"), challenge) %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-primary' %>
